### Data Types

In [3]:
#The code to output the type of data for (1) has already been filled in for you as an example.

type(1)

int

In [3]:
# Please edit the following lines of code so that they would output the types of data for `True`, `3.14`, and `"A string"`.


type("A string")

str

In [1]:
type(True)

bool

In [2]:
type(3.14)

float

In [4]:
#Find the Data type of 3 and print it.

### Variables

In [10]:
# In the code below, the variable `num1` has been assigned an integer value of 10.

num1 = 10

In [11]:
num1

10

In [7]:
# Create variable `num2`by assigning it a value of 30.

### Math Operators

In [8]:
# Print the output of the sum of `num1` and `num2`.

In [9]:
# Create a new variable `sum123` whose value is the sum of  `num1`, `num2`, and `num3`.

In [10]:
# Print the output of (`num3`/`num1`+`sum123`).

In [12]:
#The string variables "i" and "name" have been defined for you.
i = "Hello"
name = "Julien"

In [12]:
#Print output "Hello Julien" in the line below by using the addition operator.

i+ " " +name

'Hello Julien'

In [15]:
#Boolean can only have one of two values. Either they are "True" or "False". Variables "yes" and "no" have been assigned boolean variables of "True" and "False", respectively.
yes = True
no = False

### IF statments

In [16]:
#Boolean variables are generally used for conditional statements such as an if statement.The below lines of code uses boolean variables to determine whether or not the following functions will run.
if yes:
    print("Yessssss")

if yes == False:
    print("noooooo")

Yessssss

In [21]:
# The below code is asking if 3 is greater than 2 and if so print "Three is greater than Two"
if 3>2:
    print("Three is greater than Two")

Three is greater than Two

In [25]:
# The below code is asking if 3 is less than 2 and if so print "Three is less than Two"
if 3<2:
    print("Three is less than Two")

In [26]:
# if else statments take a condition and if it is false it runs the else code

if 4 < 3:
    print("4 is less than 3")
else:
    print("4 is not less than 3")

4 is not less than 3

In [27]:
# if else statments can also be used with math or anything really!

if 4 < 3:
    print(4 + 3)
else:
    print(4 - 3)

1

In [ ]:
# I was born in 1993. Create an if statment that determines if I can legally drink or not.

### LISTS

In [30]:
#Lists are a collection of data. The lists start at 0.

integers = [1,2,3,4,5,6]
print(integers[0])
print(integers[5])

print(integers[0:6])
print(integers[:3])
print(integers[3:])

1
6
[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

In [33]:
# lists can contain any type of data
names = ["Andrew", "Emily", "Jake", True, 1, 0.6]
names

['Andrew', 'Emily', 'Jake', True, 1, 0.6]

In [34]:
integers[3] + integers[0]

5

In [35]:
intnam = ["First", 1, "Second", 2, "Third", 3, "Fouth", 4, "Fifth", 5]

# finds length of a list
len(intnam)

10

In [37]:
# add value to end of a list
intnam.append('hello')
# add vaue to the start of a list
intnam.insert(0, 'Hello')
intnam

['Hello',
 'Hello',
 'First',
 1,
 'Second',
 2,
 'Third',
 3,
 'Fouth',
 4,
 'Fifth',
 5,
 'hello',
 'hello']

In [ ]:
# create your own list.

# print the last element of the list

# add the last element of the your list with the last element of the integers list.

# how long is your list?

### Dictionaries

In [38]:
# collection of "data" which is unordered, changeable and indexed. They have keys and values.
person = { "name": "someone", "age": 20, "single": True, "siblings": 2.5}
person

{'age': 20, 'name': 'someone', 'siblings': 2.5, 'single': True}

In [45]:
thename = person["name"]
thename

'someone'

In [49]:
person["age"]

20

In [52]:
person["siblings"] = 1.3
person

{'age': 20, 'name': 'someone', 'siblings': 1.3, 'single': True}

In [54]:
## you can also use dictionaries and lists in if statments. 
if "siblings" in person:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")
else:
    print("no")

Yes, 'model' is one of the keys in the thisdict dictionary

### Functions

In [67]:
# A function is a block of organized, reusable code that is used to perform a single, related action.
print(person)

{'name': 'someone', 'age': 20, 'single': True, 'siblings': 1.3}

### For Loops

In [5]:
years = [2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018]

In [8]:
for i in years:
    print(i)

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018

### Brief intro to pandas!!

In [56]:
import pandas as pd

In [58]:
df = pd.read_csv("North Korea imports - Sheet1.csv")

df.head()

,year,country_origin_id,country_destination_id,hs92_product_id,export_val,export_val_pct
0,1995,PRK,BFA,ALL,67177.77,0.00%
1,1995,PRK,CAF,ALL,514674.15,0.00%
2,1995,PRK,CIV,ALL,58011.71,0.00%
3,1995,PRK,CMR,ALL,97669.00,0.00%
4,1995,PRK,COG,ALL,24018.39,0.00%

In [59]:

df["export_val"].sum()
df["export_val"].max()
df["export_val"].min()

1000.0

In [61]:
df.dtypes

year                        int64
country_origin_id          object
country_destination_id     object
hs92_product_id            object
export_val                float64
export_val_pct             object
dtype: object

In [66]:
df["country_destination_id"].value_counts()

POL    21
DZA    21
COL    21
NER    21
EST    21
NLD    21
ESP    21
THA    21
FRA    21
IND    21
BOL    21
TZA    21
MUS    21
HKG    21
ITA    21
BRA    21
URY    21
GBR    21
FIN    21
CHN    21
BLX    21
CZE    21
SVK    21
CHL    21
DNK    21
SWE    21
DEU    21
IRL    21
UGA    21
MDG    21
       ..
ISR     6
NZL     5
KWT     5
MDV     5
TON     5
PHL     4
MAR     4
NPL     4
SLB     4
KOR     4
IRN     4
VUT     4
BMU     4
BTN     3
ARE     3
OMN     3
NOR     3
TLS     2
ARG     2
GNB     2
MSR     2
COK     1
ERI     1
AFG     1
SLE     1
AGO     1
TCD     1
PLW     1
XXB     1
ISL     1
Name: country_destination_id, Length: 174, dtype: int64